@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #d6e2f0;
}

.outer-box {
    margin: 100px auto 0;
    width: 350px;
    height: 542px;
    background-color: #ffffff;
    padding: 12px;
    border-radius: 15px;
}

.inner-qr-box img {
    width: 350px;
    border-radius: 15px;
}

.inner-text-box {
    margin: 15px;
    text-align: center;
}

.inner-text-box h2 {
    font-weight: 700;
}

.inner-text-box p {
    font-size: 16px;
    color: #7b879d;
    margin-top: 10px;
}

.footer-section {
    margin: 10px auto;
    padding: 10px;
    top: 10px;
}
.footer-section div {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: #000000;
}
.footer-section div a {
    text-decoration: none;
}
.footer-section div a:hover {
    text-decoration: underline;
}