body {
    font-family: sans-serif;
}

.background-image {
    width: 500px;
    height: 500px;

    border: 2px solid #000;
    border-radius: 14px;

    background-image: url("./cat-image.jpg");
    
    /* Default Value */
    /* background-size: auto; */

    background-size: cover;
    
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
}