body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Question 01 */
.ques1 {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: rgba(0, 255, 0, 0.500);
}


/* Question 02 */
.nav-bar {
    width: 100%;
    height: 60px;
    background-color: #0f1111;
}

div a {
    text-decoration: none;
    color: #fff;
    margin-right: 230px;
}

.logo-txt {
    font-size: 1.7rem;
    color: #f08804;
}

.input-btn {
    color: #fff;
    background-color: rgba(240, 140, 10, 0.800);
}