@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(244, 208, 78);
    font-family: 'Figtree', sans-serif;
}

.card-container {
    background-color: rgb(255, 255, 255);
    width: 350px;
    margin: 90px auto 30px;
    border-radius: 16px;
    padding: 18px;
    box-shadow: 10px 10px rgb(18, 18, 18);
}

.card-image img {
    width: 350px;
    border-radius: 16px;
}

.card-btn {
    margin: 20px 0px;
}
.card-btn button {
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-weight: 800;
    background-color: rgb(244, 208, 78);
}

.card-text {
    margin: 20px 0px;
}
.card-text h2 {
    font-weight: 800;
}
.card-text p {
    color: rgb(128, 128, 128);
    margin: 20px 0px;
    font-size: 16px;
}

.card-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0px;
}

.footer-icon img {
    display: inline-block;
    border-radius: 50%;
    margin-right: 15px;
}

.footer-section {
    margin: 10px auto;
    padding: 10px;
    top: 10px;
}
.footer-section div {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}
.footer-section div a {
    text-decoration: none;
    color: #3a76e6;
}
.footer-section div a:hover {
    text-decoration: underline;
}