@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./images/pattern-background-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;

    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

.heading {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}
.para {
    font-size: 16px;
    color: rgb(114, 128, 167);
}

.card-container {
    margin: 80px auto 40px;
    width: 400px;
    height: 620px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
}

.card-logo img {
    width: 400px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.card-main-text {
    margin: 30px;
    text-align: center;
}
.card-main-text p {
    margin-top: 14px;
}

.card-music-plans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 247, 255);
    margin: 0px 30px;
    padding: 20px;
    border-radius: 16px;
}

.music-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.music-icon img {
    border-radius: 50%;
}

.music-plans-text {
    margin-left: 14px;
}

.change-btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
}
.change-btn:hover {
    text-decoration: underline;
    color: rgb(56, 41, 224);
}

.link-btn {
    display: block;
    margin: 30px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}
.payment-btn {
    background-color: rgb(56, 41, 224);
    color: #ffffff;
    padding: 12px 0px;
    border-radius: 10px;
}
.payment-btn:hover {
    background-color: rgba(56, 41, 224, 0.7);
}
.cancel-btn {
    font-weight: 900;
    color: rgb(0, 0, 0);
}
.cancel-btn:hover {
    color: rgba(0, 0, 0, 0.8);
}

.footer-section {
    margin: 0px auto 10px;
    padding: 10px;
    top: 10px;
}
.footer-section div {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}
.footer-section div a {
    text-decoration: none;
    color: #1f4c9f;
}
.footer-section div a:hover {
    text-decoration: underline;
}